@import "../variables.less";

.link-hover {
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: @text-color;
}

.play-song-button-hover {
  transition: all .2s ease-in-out;

}