@import "variables";
@import "animations/animations";

#albums {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  .album {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    height: 300px;
    margin-right: 20px;
    position: relative;

    .hovered-part {
      display: flex;
      flex-direction: column;
      text-align: center;

      &:hover {
        .album-cover {
          transition-property: filter;
          transition-duration: .2s;
          transition-timing-function: cubic-bezier(.3, 0, 0, 1);
          filter: brightness(.3);
        }

        .icon {
          .play-icon {
            display: block;
          }
        }
      }

      .album-cover {
        width: 220px;
        height: 220px;
        background-position: center;
        background-size: cover;
      }

      .icon {
        position: absolute;
        top: 27%;
        right: 35%;
        width: 70px;
        height: 70px;

        :hover {
          transform: scale(1.08);
        }

        .play-icon {
          padding: 1px;
          transition: none 33ms cubic-bezier(.3, 0, .7, 1);
          transition-property: all;
          display: none;
          position: absolute;
          z-index: 3;
          width: 62px;
          height: 62px;
          margin-left: -30px;
          margin-top: -30px;
          top: 50%;
          left: 50%;
          color: #fff;
          border-radius: 350px;
          box-sizing: content-box;
          outline: none;
          border: 1px solid @icons-color;
          background: url("../icons/play-white.svg") no-repeat;
          background-size: 35px;
          background-position-x: 18px;
          background-position-y: 14px;

          &:hover {
            cursor: pointer;
            border-color: white;
          }
        }
      }
    }
  }

  .album-title {
    color: @text-color;
    font-size: 16px;
    margin: 12px 0 4px;
    text-decoration: none;
    display: inline-block;

  }

  .album-artist {
    color: @icons-color;
    margin: 5px;
    text-decoration: none;

    &:hover {
      .link-hover;
      color: white;
      border-bottom: 1px solid white;

    }


  }
}

