#artists {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
#artists .artist {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  height: 300px;
  margin-right: 20px;
  position: relative;
}
#artists .artist .hovered-part {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#artists .artist .hovered-part:hover .artist-cover {
  transition-property: filter;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0.3, 0, 0, 1);
  filter: brightness(0.3);
}
#artists .artist .hovered-part:hover .icon .play-icon {
  display: block;
}
#artists .artist .hovered-part .artist-cover {
  width: 220px;
  height: 220px;
  border-radius: 110px;
}
#artists .artist .hovered-part .icon {
  position: absolute;
  top: 24%;
  right: 36%;
  width: 70px;
  height: 70px;
}
#artists .artist .hovered-part .icon :hover {
  transform: scale(1.08);
}
#artists .artist .hovered-part .icon .play-icon {
  padding: 1px;
  transition: none 33ms cubic-bezier(0.3, 0, 0.7, 1);
  transition-property: all;
  display: none;
  position: absolute;
  z-index: 3;
  width: 62px;
  height: 62px;
  margin-left: -30px;
  margin-top: -30px;
  top: 50%;
  left: 50%;
  color: #fff;
  border-radius: 350px;
  box-sizing: content-box;
  outline: none;
  border: 1px solid #a9a9a9;
  background: url("../icons/play-white.svg") no-repeat;
  background-size: 35px;
  background-position-x: 18px;
  background-position-y: 14px;
}
#artists .artist .hovered-part .icon .play-icon:hover {
  cursor: pointer;
  border-color: white;
}
#artists .artist-title {
  color: #ffffff;
  font-size: 16px;
  margin: 12px 0 4px;
  text-decoration: none;
  display: inline-block;
}
