@import "variables";
@import "fonts.css";
@import "animations/animations";
@import "search";
@import "playlists";
@import "footer";
@import "header";
@import "albums";
@import "songs";
@import "genres&moods";
@import "artists";
@import "album-content";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;

  button {
    outline: 0;
    background: none;
    border: none;
  }
}

* {
  box-sizing: border-box;
}

.button-icons {

}

#main-page {
  width: 100%;
  height: 100%;
  position: absolute;

  #content-section {
    height: @content-height;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, rgb(126, 100, 26), rgb(12, 14, 18));
    overflow: auto;

    #content-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 5%;
      color: white;
      padding: 0 50px;
      margin: 10px 0 25px 0;
      width: 100%;

      .tags {
        padding: 0;

        .tag {
          display: inline-block;

          a {
            margin: 40px;
            font-family: 'Main';
            color: #dce0e1;
            font-size: 17px;
            letter-spacing: 2px;
            text-decoration: none;

            &:hover {
              cursor: pointer;
              .link-hover
            }

          }

        }
      }
    }

    #main-content {
      display: flex;
      flex-direction: column;
      flex-flow: row wrap;
      justify-content: center;
      height: 95%;
      padding: 0 100px;
      position: relative;

    }

  }
}





