@import "fonts.css";
.link-hover {
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #ffffff;
}
.play-song-button-hover {
  transition: all 0.2s ease-in-out;
}
#main-page #search-section {
  position: fixed;
  display: none;
  width: 100%;
  height: 90%;
  z-index: 5;
}
#main-page #search-section .search {
  position: relative;
  background: #242424;
  height: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-page #search-section .search .search-content {
  width: 800px;
}
#main-page #search-section .search .search-content label {
  color: white;
  font-size: 14px;
}
#main-page #search-section .search .search-content #search-bar {
  position: relative;
  height: 100%;
  width: 100%;
  background: #242424;
  color: white;
  border: none;
  outline: none;
  font-size: 36px;
}
#main-page #search-section .search .search-content #search-bar::-webkit-search-cancel-button {
  display: none;
}
#main-page #search-section .search .search-content #search-bar::placeholder {
  color: #a9a9a9;
}
#main-page #search-section .search #closeSearchButton {
  position: absolute;
  right: 60px;
  font-size: 25px;
  color: white;
  cursor: pointer;
}
#main-page #search-section .search-layout {
  background: black;
  position: relative;
  height: 87%;
}
#main-content .playlists {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}
#main-content .playlists .playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  height: 300px;
  margin-right: 20px;
}
#main-content .playlists .playlist .playlist-cover {
  width: 220px;
  height: 220px;
}
#main-content .playlists .playlist .playlist-name {
  color: white;
  margin: 5px 0;
}
#main-content .playlists .playlist .playlist-author {
  color: #a9a9a9;
  margin: 5px;
}
footer {
  display: flex;
  flex-direction: column;
  height: 10%;
  background: #2c2c2c;
  align-items: center;
  justify-content: center;
}
footer #player-section {
  width: 650px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer #player-section #player-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 50px;
}
footer #player-section #player-buttons #shuffle-song-button {
  width: 20px;
  height: 20px;
  background: url("../icons/shuffle.svg");
  background-size: 15px;
  background-repeat: no-repeat;
}
footer #player-section #player-buttons #shuffle-song-button:hover {
  transform: scale(1.1);
  background: url("../icons/shuffle-white.svg");
  background-size: 15px;
  background-repeat: no-repeat;
}
footer #player-section #player-buttons #play-previous-song-button {
  transform: rotate(180deg);
  width: 20px;
  height: 20px;
  background: url("../icons/next.svg");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: bottom;
}
footer #player-section #player-buttons #play-previous-song-button:hover {
  transform: scale(1.1) rotate(180deg);
  background: url("../icons/next-white.svg");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 3px;
}
footer #player-section #player-buttons #play-song-button {
  width: 35px;
  height: 35px;
  background: url("../icons/play.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-x: 8px;
  background-position-y: 6px;
  border: 1px solid #a9a9a9;
  border-radius: 18px;
  margin-bottom: 6px;
}
footer #player-section #player-buttons #play-song-button:hover {
  transform: scale(1.1);
  background: url("../icons/play-white.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-x: 8px;
  background-position-y: 6px;
  border-color: white;
}
footer #player-section #player-buttons #play-song-button.active {
  background: url("../icons/pause-button.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-x: 6px;
  background-position-y: 6px;
}
footer #player-section #player-buttons #play-song-button.active:hover {
  transform: scale(1.1);
  background: url("../icons/pause-button-white.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-x: 6px;
  background-position-y: 6px;
  border-color: white;
}
footer #player-section #player-buttons #play-next-song-button {
  width: 20px;
  height: 20px;
  background: url("../icons/next.svg");
  background-size: 15px;
  background-repeat: no-repeat;
}
footer #player-section #player-buttons #play-next-song-button:hover {
  transform: scale(1.1);
  background: url("../icons/next-white.svg");
  background-size: 15px;
  background-repeat: no-repeat;
}
footer #player-section #player-buttons #repeat-song-button {
  width: 20px;
  height: 20px;
  background: url("../icons/repeat.svg");
  background-size: 15px;
  background-repeat: no-repeat;
}
footer #player-section #player-buttons #repeat-song-button:hover {
  transform: scale(1.1);
  background: url("../icons/repeat-white.svg");
  background-size: 15px;
  background-repeat: no-repeat;
}
footer #player-section #progress-section {
  width: 100%;
  display: flex;
}
footer #player-section #progress-section #song-progress-bar {
  width: 800px;
  background: #a9a9a9;
  -webkit-appearance: none;
  outline: none;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
footer #player-section #progress-section #song-progress-bar::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  background: #424242;
  border-radius: 9px;
}
footer #player-section #progress-section #song-progress-bar::-webkit-slider-thumb {
  visibility: hidden;
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: white;
  margin-top: -3px;
}
footer #player-section #progress-section #song-progress-bar:hover::-webkit-slider-thumb {
  visibility: visible;
}
footer #player-section #progress-section .time {
  color: #a7a7a7;
  font-size: 14px;
}
#header-section {
  display: flex;
  justify-content: center;
  background: black;
  height: 5%;
}
#header-section .right {
  position: absolute;
  display: flex;
  right: 50px;
}
#header-section .right #search-button {
  display: flex;
}
#header-section .right #account-button {
  display: flex;
}
#header-section .right .header-text {
  color: #dce0e1;
  font-size: 18px;
  padding: 15px;
  font-family: 'Main-bold';
  cursor: pointer;
  letter-spacing: 1px;
  text-decoration: none;
}
#header-section .right .header-text:hover {
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #ffffff;
}
#header-section .header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 1400px;
}
#header-section .header-container #library-buttons {
  display: flex;
  cursor: pointer;
}
#header-section .header-container #library-buttons .header-text {
  color: #dce0e1;
  padding: 15px;
  font-family: 'Main-bold';
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 18px;
  text-decoration: none;
}
#header-section .header-container #library-buttons .header-text:hover {
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #ffffff;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
html button,
body button {
  outline: 0;
  background: none;
  border: none;
}
* {
  box-sizing: border-box;
}
#main-page {
  width: 100%;
  height: 100%;
  position: absolute;
}
#main-page #content-section {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to top, #7e641a, #0c0e12);
  overflow: auto;
}
#main-page #content-section #content-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5%;
  color: white;
  padding: 0 50px;
  margin: 10px 0 25px 0;
  width: 100%;
}
#main-page #content-section #content-header .tags {
  padding: 0;
}
#main-page #content-section #content-header .tags .tag {
  display: inline-block;
}
#main-page #content-section #content-header .tags .tag a {
  margin: 40px;
  font-family: 'Main';
  color: #dce0e1;
  font-size: 17px;
  letter-spacing: 2px;
  text-decoration: none;
}
#main-page #content-section #content-header .tags .tag a:hover {
  cursor: pointer;
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #ffffff;
}
#main-page #content-section #main-content {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: center;
  height: 95%;
  padding: 0 100px;
}
