@import "fonts.css";
.link-hover {
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #ffffff;
}
.play-song-button-hover {
  transition: all 0.2s ease-in-out;
}
#main-page #search-section {
  position: fixed;
  display: none;
  width: 100%;
  height: 90%;
  z-index: 5;
}
#main-page #search-section .search {
  position: relative;
  background: #242424;
  height: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-page #search-section .search .search-content {
  width: 800px;
}
#main-page #search-section .search .search-content label {
  color: white;
  font-size: 14px;
}
#main-page #search-section .search .search-content #search-bar {
  position: relative;
  height: 100%;
  width: 100%;
  background: #242424;
  color: white;
  border: none;
  outline: none;
  font-size: 36px;
}
#main-page #search-section .search .search-content #search-bar::-webkit-search-cancel-button {
  display: none;
}
#main-page #search-section .search .search-content #search-bar::placeholder {
  color: #a9a9a9;
}
#main-page #search-section .search #closeSearchButton {
  position: absolute;
  right: 60px;
  font-size: 25px;
  color: white;
  cursor: pointer;
}
#main-page #search-section .search-layout {
  background: black;
  position: relative;
  height: 87%;
}
#playlists {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
#playlists .playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  height: 300px;
  margin-right: 20px;
  position: relative;
}
#playlists .playlist .hovered-part {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#playlists .playlist .hovered-part:hover .playlist-cover {
  transition-property: filter;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0.3, 0, 0, 1);
  filter: brightness(0.3);
}
#playlists .playlist .hovered-part:hover .icon .play-icon {
  display: block;
}
#playlists .playlist .hovered-part .playlist-cover {
  width: 220px;
  height: 220px;
}
#playlists .playlist .hovered-part .icon {
  position: absolute;
  top: 27%;
  right: 35%;
  width: 70px;
  height: 70px;
}
#playlists .playlist .hovered-part .icon :hover {
  transform: scale(1.08);
}
#playlists .playlist .hovered-part .icon .play-icon {
  padding: 1px;
  transition: none 33ms cubic-bezier(0.3, 0, 0.7, 1);
  transition-property: all;
  display: none;
  position: absolute;
  z-index: 3;
  width: 62px;
  height: 62px;
  margin-left: -30px;
  margin-top: -30px;
  top: 50%;
  left: 50%;
  color: #fff;
  border-radius: 350px;
  box-sizing: content-box;
  outline: none;
  border: 1px solid #a9a9a9;
  background: url("../icons/play-white.svg");
  background-size: 35px;
  background-repeat: no-repeat;
  background-position-x: 18px;
  background-position-y: 14px;
}
#playlists .playlist .hovered-part .icon .play-icon:hover {
  cursor: pointer;
  border-color: white;
}
#playlists .playlist-title {
  color: #ffffff;
  font-size: 16px;
  margin: 12px 0 4px;
  text-decoration: none;
  display: inline-block;
}
#playlists .playlist-artist {
  color: #a9a9a9;
  margin: 5px;
  text-decoration: none;
}
#playlists .playlist-artist:hover {
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #ffffff;
  color: white;
  border-bottom: 1px solid white;
}
footer {
  display: flex;
  flex-direction: column;
  height: 10%;
  background: #2c2c2c;
  align-items: center;
  justify-content: center;
}
footer #player-section {
  width: 650px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer #player-section #player-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 50px;
}
footer #player-section #player-buttons #shuffle-song-button {
  width: 20px;
  height: 20px;
  background: url("../icons/shuffle.svg");
  background-size: 15px;
  background-repeat: no-repeat;
}
footer #player-section #player-buttons #shuffle-song-button:hover {
  transform: scale(1.1);
  background: url("../icons/shuffle-white.svg");
  background-size: 15px;
  background-repeat: no-repeat;
}
footer #player-section #player-buttons #play-previous-song-button {
  transform: rotate(180deg);
  width: 20px;
  height: 20px;
  background: url("../icons/next.svg");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: bottom;
}
footer #player-section #player-buttons #play-previous-song-button:hover {
  transform: scale(1.1) rotate(180deg);
  background: url("../icons/next-white.svg");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 3px;
}
footer #player-section #player-buttons #play-song-button {
  width: 35px;
  height: 35px;
  background: url("../icons/play.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-x: 8px;
  background-position-y: 6px;
  border: 1px solid #a9a9a9;
  border-radius: 18px;
  margin-bottom: 6px;
}
footer #player-section #player-buttons #play-song-button:hover {
  transform: scale(1.1);
  background: url("../icons/play-white.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-x: 8px;
  background-position-y: 6px;
  border-color: white;
}
footer #player-section #player-buttons #play-song-button.active {
  background: url("../icons/pause-button.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-x: 6px;
  background-position-y: 6px;
}
footer #player-section #player-buttons #play-song-button.active:hover {
  transform: scale(1.1);
  background: url("../icons/pause-button-white.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-x: 6px;
  background-position-y: 6px;
  border-color: white;
}
footer #player-section #player-buttons #play-next-song-button {
  width: 20px;
  height: 20px;
  background: url("../icons/next.svg");
  background-size: 15px;
  background-repeat: no-repeat;
}
footer #player-section #player-buttons #play-next-song-button:hover {
  transform: scale(1.1);
  background: url("../icons/next-white.svg");
  background-size: 15px;
  background-repeat: no-repeat;
}
footer #player-section #player-buttons #repeat-song-button {
  width: 20px;
  height: 20px;
  background: url("../icons/repeat.svg");
  background-size: 15px;
  background-repeat: no-repeat;
}
footer #player-section #player-buttons #repeat-song-button:hover {
  transform: scale(1.1);
  background: url("../icons/repeat-white.svg");
  background-size: 15px;
  background-repeat: no-repeat;
}
footer #player-section #progress-section {
  width: 100%;
  display: flex;
}
footer #player-section #progress-section #song-progress-bar {
  width: 800px;
  background: #a9a9a9;
  -webkit-appearance: none;
  outline: none;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
footer #player-section #progress-section #song-progress-bar::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  background: #424242;
  border-radius: 9px;
}
footer #player-section #progress-section #song-progress-bar::-webkit-slider-thumb {
  visibility: hidden;
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: white;
  margin-top: -3px;
}
footer #player-section #progress-section #song-progress-bar:hover::-webkit-slider-thumb {
  visibility: visible;
}
footer #player-section #progress-section .time {
  color: #a7a7a7;
  font-size: 14px;
}
#main-page #header-section {
  display: flex;
  justify-content: center;
  background: black;
  height: 5%;
}
#main-page #header-section .right {
  position: absolute;
  display: flex;
  right: 50px;
}
#main-page #header-section .right #search-button {
  display: flex;
}
#main-page #header-section .right #account-button {
  display: flex;
}
#main-page #header-section .right .header-text {
  color: #dce0e1;
  font-size: 18px;
  padding: 15px;
  font-family: 'Main-bold';
  cursor: pointer;
  letter-spacing: 1px;
  text-decoration: none;
}
#main-page #header-section .right .header-text:hover {
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #ffffff;
}
#main-page #header-section .header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 1400px;
}
#main-page #header-section .header-container #library-buttons {
  display: flex;
  cursor: pointer;
}
#main-page #header-section .header-container #library-buttons .header-text {
  color: #dce0e1;
  padding: 15px;
  font-family: 'Main-bold';
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 18px;
  text-decoration: none;
}
#main-page #header-section .header-container #library-buttons .header-text:hover {
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #ffffff;
}
#albums {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
#albums .album {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  height: 300px;
  margin-right: 20px;
  position: relative;
}
#albums .album .hovered-part {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#albums .album .hovered-part:hover .album-cover {
  transition-property: filter;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0.3, 0, 0, 1);
  filter: brightness(0.3);
}
#albums .album .hovered-part:hover .icon .play-icon {
  display: block;
}
#albums .album .hovered-part .album-cover {
  width: 220px;
  height: 220px;
}
#albums .album .hovered-part .icon {
  position: absolute;
  top: 27%;
  right: 35%;
  width: 70px;
  height: 70px;
}
#albums .album .hovered-part .icon :hover {
  transform: scale(1.08);
}
#albums .album .hovered-part .icon .play-icon {
  padding: 1px;
  transition: none 33ms cubic-bezier(0.3, 0, 0.7, 1);
  transition-property: all;
  display: none;
  position: absolute;
  z-index: 3;
  width: 62px;
  height: 62px;
  margin-left: -30px;
  margin-top: -30px;
  top: 50%;
  left: 50%;
  color: #fff;
  border-radius: 350px;
  box-sizing: content-box;
  outline: none;
  border: 1px solid #a9a9a9;
  background: url("../icons/play-white.svg");
  background-size: 35px;
  background-repeat: no-repeat;
  background-position-x: 18px;
  background-position-y: 14px;
}
#albums .album .hovered-part .icon .play-icon:hover {
  cursor: pointer;
  border-color: white;
}
#albums .album-title {
  color: #ffffff;
  font-size: 16px;
  margin: 12px 0 4px;
  text-decoration: none;
  display: inline-block;
}
#albums .album-artist {
  color: #a9a9a9;
  margin: 5px;
  text-decoration: none;
}
#albums .album-artist:hover {
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #ffffff;
  color: white;
  border-bottom: 1px solid white;
}
#songs {
  width: 60%;
  justify-content: center;
  align-items: center;
}
#songs .song {
  height: 60px;
  padding: 10px 0 10px 0;
  transition-property: background-color;
  transition-duration: .2s;
  transition-timing-function: linear;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#songs .song:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
#songs .song:hover .options-block .options-menu .song-options-button {
  display: block;
}
#songs .song:hover .play-block .play-song {
  display: block;
}
#songs .song:hover .play-block .song-index {
  display: none;
}
#songs .song .play-block {
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#songs .song .play-block .song-index {
  color: #a9a9a9;
  display: block;
}
#songs .song .play-block .play-song {
  display: none;
  width: 20px;
  height: 20px;
  background: url("../icons/play-white.svg") no-repeat center;
  background-size: 14px;
  cursor: pointer;
}
#songs .song .play-block .play-song:hover {
  transform: scale(1.2);
}
#songs .song .name-block {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#songs .song .name-block .song-name {
  font-size: 15px;
  color: #ffffff;
  font-family: 'Main';
  cursor: default;
}
#songs .song .name-block .artist-and-album {
  cursor: default;
}
#songs .song .name-block .artist-and-album .song-artist {
  font-size: 15px;
  color: #a9a9a9;
  font-family: 'Main';
  cursor: pointer;
}
#songs .song .name-block .artist-and-album .song-artist:hover {
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #ffffff;
  color: white;
  border-bottom: 1px solid white;
}
#songs .song .name-block .artist-and-album .separator {
  color: #a9a9a9;
  font-size: 13px;
  pointer-events: none;
}
#songs .song .name-block .artist-and-album .song-album {
  height: 20px;
  font-size: 15px;
  color: #a9a9a9;
  font-family: 'Main';
  cursor: pointer;
}
#songs .song .name-block .artist-and-album .song-album:hover {
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #ffffff;
  color: white;
  border-bottom: 1px solid white;
}
#songs .song .options-block {
  width: 100px;
  height: 100%;
  display: flex;
}
#songs .song .options-block .options-menu {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#songs .song .options-block .options-menu .song-options-button {
  display: none;
  width: 30px;
  height: 30px;
  background: url("../icons/options.svg") no-repeat;
  background-size: 20px;
  background-position: center;
  cursor: pointer;
}
#songs .song .options-block .song-duration-block {
  width: 50px;
  text-align: center;
  color: #a9a9a9;
}
#genres {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
#genres .genre {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  height: 300px;
  margin-right: 20px;
  position: relative;
}
#genres .genre .hovered-part {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#genres .genre .hovered-part:hover .genre-cover {
  transition-property: filter;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0.3, 0, 0, 1);
  filter: brightness(0.2);
}
#genres .genre .hovered-part:hover .icon .play-icon {
  display: block;
}
#genres .genre .hovered-part .genre-cover {
  width: 220px;
  height: 220px;
  filter: brightness(0.4);
}
#genres .genre .hovered-part .genre-icon {
  position: absolute;
  top: 24%;
  right: 29%;
  width: 90px;
  height: 90px;
  background-size: 90px;
  background-position: center;
  background-repeat: no-repeat;
}
#genres .genre .hovered-part .genre-icon :hover {
  transform: scale(1.08);
}
#genres .genre-title {
  color: #ffffff;
  font-size: 16px;
  margin: 12px 0 4px;
  text-decoration: none;
  display: inline-block;
}
#artists {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
#artists .artist {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  height: 300px;
  margin-right: 20px;
  position: relative;
}
#artists .artist .hovered-part {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#artists .artist .hovered-part:hover .artist-cover {
  transition-property: filter;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0.3, 0, 0, 1);
  filter: brightness(0.3);
}
#artists .artist .hovered-part:hover .icon .play-icon {
  display: block;
}
#artists .artist .hovered-part .artist-cover {
  width: 220px;
  height: 220px;
  border-radius: 110px;
}
#artists .artist .hovered-part .icon {
  position: absolute;
  top: 27%;
  right: 35%;
  width: 70px;
  height: 70px;
}
#artists .artist .hovered-part .icon :hover {
  transform: scale(1.08);
}
#artists .artist .hovered-part .icon .play-icon {
  padding: 1px;
  transition: none 33ms cubic-bezier(0.3, 0, 0.7, 1);
  transition-property: all;
  display: none;
  position: absolute;
  z-index: 3;
  width: 62px;
  height: 62px;
  margin-left: -30px;
  margin-top: -30px;
  top: 50%;
  left: 50%;
  color: #fff;
  border-radius: 350px;
  box-sizing: content-box;
  outline: none;
  border: 1px solid #a9a9a9;
  background: url("../icons/play-white.svg") no-repeat;
  background-size: 35px;
  background-position-x: 18px;
  background-position-y: 14px;
}
#artists .artist .hovered-part .icon .play-icon:hover {
  cursor: pointer;
  border-color: white;
}
#artists .artist-title {
  color: #ffffff;
  font-size: 16px;
  margin: 12px 0 4px;
  text-decoration: none;
  display: inline-block;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
html button,
body button {
  outline: 0;
  background: none;
  border: none;
}
* {
  box-sizing: border-box;
}
#main-page {
  width: 100%;
  height: 100%;
  position: absolute;
}
#main-page #content-section {
  height: 85%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to top, #7e641a, #0c0e12);
  overflow: auto;
}
#main-page #content-section #content-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5%;
  color: white;
  padding: 0 50px;
  margin: 10px 0 25px 0;
  width: 100%;
}
#main-page #content-section #content-header .tags {
  padding: 0;
}
#main-page #content-section #content-header .tags .tag {
  display: inline-block;
}
#main-page #content-section #content-header .tags .tag a {
  margin: 40px;
  font-family: 'Main';
  color: #dce0e1;
  font-size: 17px;
  letter-spacing: 2px;
  text-decoration: none;
}
#main-page #content-section #content-header .tags .tag a:hover {
  cursor: pointer;
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #ffffff;
}
#main-page #content-section #main-content {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: center;
  height: 95%;
  padding: 0 100px;
  position: relative;
}
