@import "fonts.css";
.link-hover {
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #ffffff;
}
.play-song-button-hover {
  transition: all 0.2s ease-in-out;
}
#main-page #search-section {
  position: fixed;
  display: none;
  width: 100%;
  height: 90%;
  z-index: 5;
}
#main-page #search-section .search {
  position: relative;
  background: #242424;
  height: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-page #search-section .search .search-content {
  width: 800px;
}
#main-page #search-section .search .search-content label {
  color: white;
  font-size: 14px;
}
#main-page #search-section .search .search-content #search-bar {
  position: relative;
  height: 100%;
  width: 100%;
  background: #242424;
  color: white;
  border: none;
  outline: none;
  font-size: 36px;
}
#main-page #search-section .search .search-content #search-bar::-webkit-search-cancel-button {
  display: none;
}
#main-page #search-section .search .search-content #search-bar::placeholder {
  color: #a9a9a9;
}
#main-page #search-section .search #closeSearchButton {
  position: absolute;
  right: 60px;
  font-size: 25px;
  color: white;
  cursor: pointer;
}
#main-page #search-section .search-layout {
  background: black;
  position: relative;
  height: 87%;
}
#playlists {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
#playlists .playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  height: 300px;
  margin-right: 20px;
  position: relative;
}
#playlists .playlist .hovered-part {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#playlists .playlist .hovered-part:hover .playlist-cover {
  transition-property: filter;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0.3, 0, 0, 1);
  filter: brightness(0.3);
}
#playlists .playlist .hovered-part:hover .icon .play-icon {
  display: block;
}
#playlists .playlist .hovered-part .playlist-cover {
  width: 220px;
  height: 220px;
}
#playlists .playlist .hovered-part .icon {
  position: absolute;
  top: 27%;
  right: 35%;
  width: 70px;
  height: 70px;
}
#playlists .playlist .hovered-part .icon :hover {
  transform: scale(1.08);
}
#playlists .playlist .hovered-part .icon .play-icon {
  padding: 1px;
  transition: none 33ms cubic-bezier(0.3, 0, 0.7, 1);
  transition-property: all;
  display: none;
  position: absolute;
  z-index: 3;
  width: 62px;
  height: 62px;
  margin-left: -30px;
  margin-top: -30px;
  top: 50%;
  left: 50%;
  color: #fff;
  border-radius: 350px;
  box-sizing: content-box;
  outline: none;
  border: 1px solid #a9a9a9;
  background: url("../icons/play-white.svg");
  background-size: 35px;
  background-repeat: no-repeat;
  background-position-x: 18px;
  background-position-y: 14px;
}
#playlists .playlist .hovered-part .icon .play-icon:hover {
  cursor: pointer;
  border-color: white;
}
#playlists .playlist-title {
  color: #ffffff;
  font-size: 16px;
  margin: 12px 0 4px;
  text-decoration: none;
  display: inline-block;
}
#playlists .playlist-artist {
  color: #a9a9a9;
  margin: 5px;
  text-decoration: none;
}
#playlists .playlist-artist:hover {
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #ffffff;
  color: white;
  border-bottom: 1px solid white;
}
footer {
  display: flex;
  flex-direction: column;
  height: 10%;
  background: #2c2c2c;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 5;
}
footer #player-section {
  width: 650px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer #player-section #player-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 50px;
}
footer #player-section #player-buttons #shuffle-song-button {
  width: 20px;
  height: 20px;
  background: url("../icons/shuffle.svg") no-repeat;
  background-size: 15px;
}
footer #player-section #player-buttons #shuffle-song-button:hover {
  transform: scale(1.1);
  background: url("../icons/shuffle-white.svg");
  background-size: 15px;
  background-repeat: no-repeat;
}
footer #player-section #player-buttons #play-previous-song-button {
  transform: rotate(180deg);
  width: 20px;
  height: 20px;
  background: url("../icons/next.svg");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: bottom;
}
footer #player-section #player-buttons #play-previous-song-button:hover {
  transform: scale(1.1) rotate(180deg);
  background: url("../icons/next-white.svg");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 3px;
}
footer #player-section #player-buttons #play-song-button {
  width: 35px;
  height: 35px;
  background: url("../icons/play.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-x: 8px;
  background-position-y: 6px;
  border: 1px solid #a9a9a9;
  border-radius: 18px;
  margin-bottom: 6px;
}
footer #player-section #player-buttons #play-song-button:hover {
  transform: scale(1.1);
  background: url("../icons/play-white.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-x: 8px;
  background-position-y: 6px;
  border-color: white;
}
footer #player-section #player-buttons #play-song-button.active {
  background: url("../icons/pause-button.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-x: 6px;
  background-position-y: 6px;
}
footer #player-section #player-buttons #play-song-button.active:hover {
  transform: scale(1.1);
  background: url("../icons/pause-button-white.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-x: 6px;
  background-position-y: 6px;
  border-color: white;
}
footer #player-section #player-buttons #play-next-song-button {
  width: 20px;
  height: 20px;
  background: url("../icons/next.svg");
  background-size: 15px;
  background-repeat: no-repeat;
}
footer #player-section #player-buttons #play-next-song-button:hover {
  transform: scale(1.1);
  background: url("../icons/next-white.svg");
  background-size: 15px;
  background-repeat: no-repeat;
}
footer #player-section #player-buttons #repeat-song-button {
  width: 20px;
  height: 20px;
  background: url("../icons/repeat.svg");
  background-size: 15px;
  background-repeat: no-repeat;
}
footer #player-section #player-buttons #repeat-song-button:hover {
  transform: scale(1.1);
  background: url("../icons/repeat-white.svg");
  background-size: 15px;
  background-repeat: no-repeat;
}
footer #player-section #progress-section {
  width: 100%;
  display: flex;
}
footer #player-section #progress-section #song-progress-bar {
  width: 800px;
  background: #a9a9a9;
  -webkit-appearance: none;
  outline: none;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
footer #player-section #progress-section #song-progress-bar::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  background: #424242;
  border-radius: 9px;
}
footer #player-section #progress-section #song-progress-bar::-webkit-slider-thumb {
  visibility: hidden;
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: white;
  margin-top: -3px;
}
footer #player-section #progress-section #song-progress-bar:hover::-webkit-slider-thumb {
  visibility: visible;
}
footer #player-section #progress-section .time {
  color: #a7a7a7;
  font-size: 14px;
}
#main-page #header-section {
  display: flex;
  justify-content: center;
  background: black;
  height: 5%;
  position: fixed;
  width: 100%;
  z-index: 5;
}
#main-page #header-section .right {
  position: absolute;
  display: flex;
  right: 50px;
}
#main-page #header-section .right #search-button {
  display: flex;
}
#main-page #header-section .right #account-button {
  display: flex;
}
#main-page #header-section .right .header-text {
  color: #dce0e1;
  font-size: 18px;
  padding: 15px;
  font-family: 'Main-bold';
  cursor: pointer;
  letter-spacing: 1px;
  text-decoration: none;
}
#main-page #header-section .right .header-text:hover {
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #ffffff;
}
#main-page #header-section .header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 1400px;
}
#main-page #header-section .header-container #library-buttons {
  display: flex;
  cursor: pointer;
}
#main-page #header-section .header-container #library-buttons .header-text {
  color: #dce0e1;
  padding: 15px;
  font-family: 'Main-bold';
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 18px;
  text-decoration: none;
}
#main-page #header-section .header-container #library-buttons .header-text:hover {
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #ffffff;
}
#albums {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
#albums .album {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  height: 300px;
  margin-right: 20px;
  position: relative;
}
#albums .album .hovered-part {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#albums .album .hovered-part:hover .album-cover {
  transition-property: filter;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0.3, 0, 0, 1);
  filter: brightness(0.3);
}
#albums .album .hovered-part:hover .icon .play-icon {
  display: block;
}
#albums .album .hovered-part .album-cover {
  width: 220px;
  height: 220px;
  background-position: center;
  background-size: cover;
}
#albums .album .hovered-part .icon {
  position: absolute;
  top: 27%;
  right: 35%;
  width: 70px;
  height: 70px;
}
#albums .album .hovered-part .icon :hover {
  transform: scale(1.08);
}
#albums .album .hovered-part .icon .play-icon {
  padding: 1px;
  transition: none 33ms cubic-bezier(0.3, 0, 0.7, 1);
  transition-property: all;
  display: none;
  position: absolute;
  z-index: 3;
  width: 62px;
  height: 62px;
  margin-left: -30px;
  margin-top: -30px;
  top: 50%;
  left: 50%;
  color: #fff;
  border-radius: 350px;
  box-sizing: content-box;
  outline: none;
  border: 1px solid #a9a9a9;
  background: url("../icons/play-white.svg") no-repeat;
  background-size: 35px;
  background-position-x: 18px;
  background-position-y: 14px;
}
#albums .album .hovered-part .icon .play-icon:hover {
  cursor: pointer;
  border-color: white;
}
#albums .album-title {
  color: #ffffff;
  font-size: 16px;
  margin: 12px 0 4px;
  text-decoration: none;
  display: inline-block;
}
#albums .album-artist {
  color: #a9a9a9;
  margin: 5px;
  text-decoration: none;
}
#albums .album-artist:hover {
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #ffffff;
  color: white;
  border-bottom: 1px solid white;
}
.songs-styles #songs {
  width: 60%;
  justify-content: center;
  align-items: center;
}
.songs-styles #songs #song-menu {
  position: absolute;
  left: 70%;
  height: 116px;
  background: #282828;
  border: 1px solid rgba(0, 0, 0, 0.15);
  min-width: 160px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.songs-styles #songs #song-menu .menu-list {
  width: 100%;
  padding: 3px 20px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.5);
}
.songs-styles #songs #song-menu .menu-list:hover {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.songs-styles #songs .song {
  height: 60px;
  padding: 10px 0 10px 0;
  transition-property: background-color;
  transition-duration: .2s;
  transition-timing-function: linear;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.songs-styles #songs .song:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.songs-styles #songs .song:hover .options-block .options-menu .song-options-button {
  display: block;
}
.songs-styles #songs .song:hover .play-block .play-song {
  display: block;
}
.songs-styles #songs .song:hover .play-block .song-index {
  display: none;
}
.songs-styles #songs .song .play-block {
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.songs-styles #songs .song .play-block .song-index {
  color: #a9a9a9;
  display: block;
}
.songs-styles #songs .song .play-block .play-song {
  display: none;
  width: 20px;
  height: 20px;
  background: url("../icons/play-white.svg") no-repeat center;
  background-size: 14px;
  cursor: pointer;
}
.songs-styles #songs .song .play-block .play-song:hover {
  transform: scale(1.2);
}
.songs-styles #songs .song .name-block {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.songs-styles #songs .song .name-block .song-name {
  font-size: 15px;
  color: #ffffff;
  font-family: 'Main';
  cursor: default;
}
.songs-styles #songs .song .name-block .artist-and-album {
  cursor: default;
  margin-top: 4px;
}
.songs-styles #songs .song .name-block .artist-and-album .song-artist {
  font-size: 15px;
  color: #a9a9a9;
  font-family: 'Main';
  cursor: pointer;
}
.songs-styles #songs .song .name-block .artist-and-album .song-artist:hover {
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #ffffff;
  color: white;
  border-bottom: 1px solid white;
}
.songs-styles #songs .song .name-block .artist-and-album .separator {
  color: #a9a9a9;
  font-size: 13px;
  pointer-events: none;
}
.songs-styles #songs .song .name-block .artist-and-album .song-album {
  height: 20px;
  font-size: 15px;
  color: #a9a9a9;
  font-family: 'Main';
  cursor: pointer;
}
.songs-styles #songs .song .name-block .artist-and-album .song-album:hover {
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #ffffff;
  color: white;
  border-bottom: 1px solid white;
}
.songs-styles #songs .song .options-block {
  width: 100px;
  height: 100%;
  display: flex;
}
.songs-styles #songs .song .options-block .options-menu {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.songs-styles #songs .song .options-block .options-menu .song-options-button {
  display: none;
  width: 30px;
  height: 30px;
  background: url("../icons/options.svg") no-repeat center;
  background-size: 20px;
  cursor: pointer;
}
.songs-styles #songs .song .options-block .song-duration-block {
  width: 50px;
  text-align: center;
  color: #a9a9a9;
}
#songs {
  width: 60%;
  justify-content: center;
  align-items: center;
}
#songs #song-menu {
  position: absolute;
  left: 70%;
  height: 116px;
  background: #282828;
  border: 1px solid rgba(0, 0, 0, 0.15);
  min-width: 160px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
#songs #song-menu .menu-list {
  width: 100%;
  padding: 3px 20px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.5);
}
#songs #song-menu .menu-list:hover {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
#songs .song {
  height: 60px;
  padding: 10px 0 10px 0;
  transition-property: background-color;
  transition-duration: .2s;
  transition-timing-function: linear;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#songs .song:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
#songs .song:hover .options-block .options-menu .song-options-button {
  display: block;
}
#songs .song:hover .play-block .play-song {
  display: block;
}
#songs .song:hover .play-block .song-index {
  display: none;
}
#songs .song .play-block {
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#songs .song .play-block .song-index {
  color: #a9a9a9;
  display: block;
}
#songs .song .play-block .play-song {
  display: none;
  width: 20px;
  height: 20px;
  background: url("../icons/play-white.svg") no-repeat center;
  background-size: 14px;
  cursor: pointer;
}
#songs .song .play-block .play-song:hover {
  transform: scale(1.2);
}
#songs .song .name-block {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#songs .song .name-block .song-name {
  font-size: 15px;
  color: #ffffff;
  font-family: 'Main';
  cursor: default;
}
#songs .song .name-block .artist-and-album {
  cursor: default;
  margin-top: 4px;
}
#songs .song .name-block .artist-and-album .song-artist {
  font-size: 15px;
  color: #a9a9a9;
  font-family: 'Main';
  cursor: pointer;
}
#songs .song .name-block .artist-and-album .song-artist:hover {
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #ffffff;
  color: white;
  border-bottom: 1px solid white;
}
#songs .song .name-block .artist-and-album .separator {
  color: #a9a9a9;
  font-size: 13px;
  pointer-events: none;
}
#songs .song .name-block .artist-and-album .song-album {
  height: 20px;
  font-size: 15px;
  color: #a9a9a9;
  font-family: 'Main';
  cursor: pointer;
}
#songs .song .name-block .artist-and-album .song-album:hover {
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #ffffff;
  color: white;
  border-bottom: 1px solid white;
}
#songs .song .options-block {
  width: 100px;
  height: 100%;
  display: flex;
}
#songs .song .options-block .options-menu {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#songs .song .options-block .options-menu .song-options-button {
  display: none;
  width: 30px;
  height: 30px;
  background: url("../icons/options.svg") no-repeat center;
  background-size: 20px;
  cursor: pointer;
}
#songs .song .options-block .song-duration-block {
  width: 50px;
  text-align: center;
  color: #a9a9a9;
}
#genres {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
#genres .genre {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  height: 300px;
  margin-right: 20px;
  position: relative;
}
#genres .genre .hovered-part {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#genres .genre .hovered-part:hover .genre-cover {
  transition-property: filter;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0.3, 0, 0, 1);
  filter: brightness(0.2);
}
#genres .genre .hovered-part:hover .icon .play-icon {
  display: block;
}
#genres .genre .hovered-part .genre-cover {
  width: 220px;
  height: 220px;
  filter: brightness(0.4);
}
#genres .genre .hovered-part .genre-icon {
  position: absolute;
  top: 24%;
  right: 29%;
  width: 90px;
  height: 90px;
  background-size: 90px;
  background-position: center;
  background-repeat: no-repeat;
}
#genres .genre .hovered-part .genre-icon :hover {
  transform: scale(1.08);
}
#genres .genre-title {
  color: #ffffff;
  font-size: 16px;
  margin: 12px 0 4px;
  text-decoration: none;
  display: inline-block;
}
#artists {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
#artists .artist {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  height: 300px;
  margin-right: 20px;
  position: relative;
}
#artists .artist .hovered-part {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#artists .artist .hovered-part:hover .artist-cover {
  transition-property: filter;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0.3, 0, 0, 1);
  filter: brightness(0.3);
}
#artists .artist .hovered-part:hover .icon .play-icon {
  display: block;
}
#artists .artist .hovered-part .artist-cover {
  width: 220px;
  height: 220px;
  border-radius: 110px;
  background-size: cover;
  background-position: center;
}
#artists .artist .hovered-part .icon {
  position: absolute;
  top: 24%;
  right: 36%;
  width: 70px;
  height: 70px;
}
#artists .artist .hovered-part .icon :hover {
  transform: scale(1.08);
}
#artists .artist .hovered-part .icon .play-icon {
  padding: 1px;
  transition: none 33ms cubic-bezier(0.3, 0, 0.7, 1);
  transition-property: all;
  display: none;
  position: absolute;
  z-index: 3;
  width: 62px;
  height: 62px;
  margin-left: -30px;
  margin-top: -30px;
  top: 50%;
  left: 50%;
  color: #fff;
  border-radius: 350px;
  box-sizing: content-box;
  outline: none;
  border: 1px solid #a9a9a9;
  background: url("../icons/play-white.svg") no-repeat;
  background-size: 35px;
  background-position-x: 18px;
  background-position-y: 14px;
}
#artists .artist .hovered-part .icon .play-icon:hover {
  cursor: pointer;
  border-color: white;
}
#artists .artist-title {
  color: #ffffff;
  font-size: 16px;
  margin: 12px 0 4px;
  text-decoration: none;
  display: inline-block;
}
#album-content {
  width: 100%;
  height: 100%;
  padding: 0px 250px 0 250px;
  display: flex;
}
#album-content #album-info {
  max-width: 400px;
  height: 600px;
  padding: 80px 40px 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#album-content #album-info .album-cover {
  min-width: 320px;
  min-height: 320px;
  background-repeat: no-repeat;
  background-size: contain;
}
#album-content #album-info .album-title {
  color: #ffffff;
  font-size: 28px;
  margin: 12px 0 4px;
  text-decoration: none;
  display: inline-block;
}
#album-content #album-info .album-artist {
  color: #a9a9a9;
  margin: 1px 0 10px 0;
  text-decoration: none;
}
#album-content #album-info .album-artist:hover {
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #ffffff;
  color: white;
}
#album-content #album-info .date-and-songs {
  width: 100%;
  cursor: text;
}
#album-content #album-info .date-and-songs .album-date {
  font-size: 15px;
  color: #a9a9a9;
}
#album-content #album-info .date-and-songs .album-separator {
  color: #a9a9a9;
  font-size: 13px;
  pointer-events: none;
}
#album-content #album-info .date-and-songs .album-songs-number {
  font-size: 15px;
  color: #a9a9a9;
}
#album-content #album-info #play-album-button {
  color: white;
  width: 120px;
  height: 40px;
  font-size: 12px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: .16em;
  transition: none 33ms cubic-bezier(0.3, 0, 0.7, 1);
  transition-property: all;
  margin-top: 16px;
  text-align: center;
  border-radius: 500px;
  padding: 13px;
  background: #1ed760;
  cursor: pointer;
}
#album-content #album-info #play-album-button:hover {
  transform: scale(1.06);
  transition: all 33ms cubic-bezier(0.3, 0, 0, 1);
}
#album-content #album-info #save-album-button {
  color: white;
  width: 120px;
  height: 40px;
  font-size: 12px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: .16em;
  transition: none 33ms cubic-bezier(0.3, 0, 0.7, 1);
  transition-property: all;
  margin-top: 16px;
  text-align: center;
  border-radius: 500px;
  padding: 13px;
  cursor: pointer;
}
#album-content #album-info #save-album-button:hover {
  transform: scale(1.06);
  transition: all 33ms cubic-bezier(0.3, 0, 0, 1);
}
#album-content #songs {
  width: 60%;
  justify-content: center;
  align-items: center;
}
#album-content #songs #song-menu {
  position: absolute;
  left: 70%;
  height: 116px;
  background: #282828;
  border: 1px solid rgba(0, 0, 0, 0.15);
  min-width: 160px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
#album-content #songs #song-menu .menu-list {
  width: 100%;
  padding: 3px 20px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.5);
}
#album-content #songs #song-menu .menu-list:hover {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
#album-content #songs .song {
  height: 60px;
  padding: 10px 0 10px 0;
  transition-property: background-color;
  transition-duration: .2s;
  transition-timing-function: linear;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#album-content #songs .song:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
#album-content #songs .song:hover .options-block .options-menu .song-options-button {
  display: block;
}
#album-content #songs .song:hover .play-block .play-song {
  display: block;
}
#album-content #songs .song:hover .play-block .song-index {
  display: none;
}
#album-content #songs .song .play-block {
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#album-content #songs .song .play-block .song-index {
  color: #a9a9a9;
  display: block;
}
#album-content #songs .song .play-block .play-song {
  display: none;
  width: 20px;
  height: 20px;
  background: url("../icons/play-white.svg") no-repeat center;
  background-size: 14px;
  cursor: pointer;
}
#album-content #songs .song .play-block .play-song:hover {
  transform: scale(1.2);
}
#album-content #songs .song .name-block {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#album-content #songs .song .name-block .song-name {
  font-size: 15px;
  color: #ffffff;
  font-family: 'Main';
  cursor: default;
}
#album-content #songs .song .name-block .artist-and-album {
  cursor: default;
  margin-top: 4px;
}
#album-content #songs .song .name-block .artist-and-album .song-artist {
  font-size: 15px;
  color: #a9a9a9;
  font-family: 'Main';
  cursor: pointer;
}
#album-content #songs .song .name-block .artist-and-album .song-artist:hover {
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #ffffff;
  color: white;
  border-bottom: 1px solid white;
}
#album-content #songs .song .name-block .artist-and-album .separator {
  color: #a9a9a9;
  font-size: 13px;
  pointer-events: none;
}
#album-content #songs .song .name-block .artist-and-album .song-album {
  height: 20px;
  font-size: 15px;
  color: #a9a9a9;
  font-family: 'Main';
  cursor: pointer;
}
#album-content #songs .song .name-block .artist-and-album .song-album:hover {
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #ffffff;
  color: white;
  border-bottom: 1px solid white;
}
#album-content #songs .song .options-block {
  width: 100px;
  height: 100%;
  display: flex;
}
#album-content #songs .song .options-block .options-menu {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#album-content #songs .song .options-block .options-menu .song-options-button {
  display: none;
  width: 30px;
  height: 30px;
  background: url("../icons/options.svg") no-repeat center;
  background-size: 20px;
  cursor: pointer;
}
#album-content #songs .song .options-block .song-duration-block {
  width: 50px;
  text-align: center;
  color: #a9a9a9;
}
#album-content #songs {
  width: 100%;
  padding-top: 27px;
}
#playlist-content {
  width: 100%;
  height: 100%;
  padding: 0px 250px 0 250px;
  display: flex;
}
#playlist-content #playlist-info {
  max-width: 400px;
  height: 600px;
  padding: 80px 40px 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#playlist-content #playlist-info .playlist-cover {
  min-width: 320px;
  min-height: 320px;
  background-repeat: no-repeat;
  background-size: contain;
}
#playlist-content #playlist-info .playlist-title {
  color: #ffffff;
  font-size: 28px;
  margin: 12px 0 4px;
  text-decoration: none;
  display: inline-block;
}
#playlist-content #playlist-info .playlist-artist {
  color: #a9a9a9;
  margin: 1px 0 10px 0;
  text-decoration: none;
}
#playlist-content #playlist-info .playlist-artist:hover {
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #ffffff;
  color: white;
}
#playlist-content #playlist-info .date-and-songs {
  width: 100%;
  cursor: text;
}
#playlist-content #playlist-info .date-and-songs .playlist-date {
  font-size: 15px;
  color: #a9a9a9;
}
#playlist-content #playlist-info .date-and-songs .playlist-separator {
  color: #a9a9a9;
  font-size: 13px;
  pointer-events: none;
}
#playlist-content #playlist-info .date-and-songs .playlist-songs-number {
  font-size: 15px;
  color: #a9a9a9;
}
#playlist-content #playlist-info #play-playlist-button {
  color: white;
  width: 120px;
  height: 40px;
  font-size: 12px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: .16em;
  transition: none 33ms cubic-bezier(0.3, 0, 0.7, 1);
  transition-property: all;
  margin-top: 16px;
  text-align: center;
  border-radius: 500px;
  padding: 13px;
  background: #1ed760;
  cursor: pointer;
}
#playlist-content #playlist-info #play-playlist-button:hover {
  transform: scale(1.06);
  transition: all 33ms cubic-bezier(0.3, 0, 0, 1);
}
#playlist-content #playlist-info #save-playlist-button {
  color: white;
  width: 120px;
  height: 40px;
  font-size: 12px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: .16em;
  transition: none 33ms cubic-bezier(0.3, 0, 0.7, 1);
  transition-property: all;
  margin-top: 16px;
  text-align: center;
  border-radius: 500px;
  padding: 13px;
  cursor: pointer;
}
#playlist-content #playlist-info #save-playlist-button:hover {
  transform: scale(1.06);
  transition: all 33ms cubic-bezier(0.3, 0, 0, 1);
}
#playlist-content #songs {
  width: 60%;
  justify-content: center;
  align-items: center;
}
#playlist-content #songs #song-menu {
  position: absolute;
  left: 70%;
  height: 116px;
  background: #282828;
  border: 1px solid rgba(0, 0, 0, 0.15);
  min-width: 160px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
#playlist-content #songs #song-menu .menu-list {
  width: 100%;
  padding: 3px 20px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.5);
}
#playlist-content #songs #song-menu .menu-list:hover {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
#playlist-content #songs .song {
  height: 60px;
  padding: 10px 0 10px 0;
  transition-property: background-color;
  transition-duration: .2s;
  transition-timing-function: linear;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#playlist-content #songs .song:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
#playlist-content #songs .song:hover .options-block .options-menu .song-options-button {
  display: block;
}
#playlist-content #songs .song:hover .play-block .play-song {
  display: block;
}
#playlist-content #songs .song:hover .play-block .song-index {
  display: none;
}
#playlist-content #songs .song .play-block {
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#playlist-content #songs .song .play-block .song-index {
  color: #a9a9a9;
  display: block;
}
#playlist-content #songs .song .play-block .play-song {
  display: none;
  width: 20px;
  height: 20px;
  background: url("../icons/play-white.svg") no-repeat center;
  background-size: 14px;
  cursor: pointer;
}
#playlist-content #songs .song .play-block .play-song:hover {
  transform: scale(1.2);
}
#playlist-content #songs .song .name-block {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#playlist-content #songs .song .name-block .song-name {
  font-size: 15px;
  color: #ffffff;
  font-family: 'Main';
  cursor: default;
}
#playlist-content #songs .song .name-block .artist-and-album {
  cursor: default;
  margin-top: 4px;
}
#playlist-content #songs .song .name-block .artist-and-album .song-artist {
  font-size: 15px;
  color: #a9a9a9;
  font-family: 'Main';
  cursor: pointer;
}
#playlist-content #songs .song .name-block .artist-and-album .song-artist:hover {
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #ffffff;
  color: white;
  border-bottom: 1px solid white;
}
#playlist-content #songs .song .name-block .artist-and-album .separator {
  color: #a9a9a9;
  font-size: 13px;
  pointer-events: none;
}
#playlist-content #songs .song .name-block .artist-and-album .song-album {
  height: 20px;
  font-size: 15px;
  color: #a9a9a9;
  font-family: 'Main';
  cursor: pointer;
}
#playlist-content #songs .song .name-block .artist-and-album .song-album:hover {
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #ffffff;
  color: white;
  border-bottom: 1px solid white;
}
#playlist-content #songs .song .options-block {
  width: 100px;
  height: 100%;
  display: flex;
}
#playlist-content #songs .song .options-block .options-menu {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#playlist-content #songs .song .options-block .options-menu .song-options-button {
  display: none;
  width: 30px;
  height: 30px;
  background: url("../icons/options.svg") no-repeat center;
  background-size: 20px;
  cursor: pointer;
}
#playlist-content #songs .song .options-block .song-duration-block {
  width: 50px;
  text-align: center;
  color: #a9a9a9;
}
#playlist-content #songs {
  width: 100%;
  padding-top: 27px;
}
#artist-section {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
#artist-section #artist-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#artist-section #artist-header::before {
  content: "";
  position: absolute;
  height: 350px;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(transparent -30%, #181818);
}
#artist-section #artist-header > * {
  position: relative;
}
#artist-section #artist-header .artist-name {
  font-size: 60px;
  color: white;
  font-family: 'Main-bold';
}
#artist-section #artist-header .artist-followers {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: .16em;
  margin-top: 50px;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  text-align: center;
  margin-bottom: 4em;
}
#artist-section #artist-header .header-buttons #play-artist-button {
  color: white;
  width: 120px;
  height: 40px;
  font-size: 12px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: .16em;
  transition: none 33ms cubic-bezier(0.3, 0, 0.7, 1);
  transition-property: all;
  margin-top: 16px;
  text-align: center;
  border-radius: 500px;
  padding: 13px;
  background: #1ed760;
  cursor: pointer;
  margin-right: 15px;
}
#artist-section #artist-header .header-buttons #play-artist-button:hover {
  transition: none 33ms cubic-bezier(0.3, 0, 0, 1);
  transition-property: all;
  transform: scale(1.06);
}
#artist-section #artist-header .header-buttons #follow-artist-button {
  font-size: 11px;
  line-height: 16px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  letter-spacing: .16em;
  transition: none 33ms cubic-bezier(0.3, 0, 0.7, 1);
  transition-property: all;
  color: #fff;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  border-radius: 500px;
  min-width: 130px;
  white-space: normal;
  will-change: transform;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 11px 44px;
  background: rgba(23, 23, 23, 0.7);
  box-shadow: inset 0 0 0 2px #a0a0a0;
  cursor: pointer;
}
#artist-section #artist-header .header-buttons #follow-artist-button:hover {
  transition: none 33ms cubic-bezier(0.3, 0, 0, 1);
  transition-property: all;
  transform: scale(1.06);
  box-shadow: inset 0 0 0 2px #fff, 0 0 0 1px transparent;
}
#artist-section #artist-songs {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #181818;
}
#artist-section #artist-songs #songs .song {
  margin-bottom: 3px;
}
#artist-section #artist-songs .artist-songs-header {
  color: white;
  font-family: 'Main';
  letter-spacing: 3px;
}
#artist-section #artist-albums {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #121212;
  width: 100%;
}
#artist-section #artist-albums #albums {
  width: 100%;
  padding-right: 80px;
  padding-left: 80px;
}
#artist-section #artist-albums .artist-album-header {
  color: white;
  font-family: "Main";
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
html button,
body button {
  outline: 0;
  background: none;
  border: none;
}
* {
  box-sizing: border-box;
}
#main-page {
  width: 100%;
  height: 100%;
  position: absolute;
}
#main-page ::-webkit-scrollbar {
  display: none;
}
#main-page #content-section {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to top, #7e641a, #0c0e12);
  overflow: auto;
  top: 5%;
  position: relative;
}
#main-page #content-section #content-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5%;
  color: white;
  padding: 0 50px;
  margin: 10px 0 25px 0;
  width: 100%;
}
#main-page #content-section #content-header .tags {
  padding: 0;
}
#main-page #content-section #content-header .tags .tag {
  display: inline-block;
}
#main-page #content-section #content-header .tags .tag a {
  margin: 40px;
  font-family: 'Main';
  color: #dce0e1;
  font-size: 17px;
  letter-spacing: 2px;
  text-decoration: none;
}
#main-page #content-section #content-header .tags .tag a:hover {
  cursor: pointer;
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #ffffff;
}
#main-page #content-section #main-content {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: center;
  height: 95%;
  padding: 0 100px;
  position: relative;
}
