@import "variables";

#main-content {

  .playlists {
    width: 90%;
    display: flex;
    flex-wrap: wrap;


    .playlist {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 230px;
      height: 300px;
      margin-right: 20px;

      .playlist-cover {
        width: 220px;
        height: 220px;
      }

      .playlist-name {
        color: white;
        margin: 5px 0;
      }

      .playlist-author {
        color: @icons-color;
        margin: 5px;
      }
    }
  }
}
