@import "variables";
@import "animations/animations";

.songs-styles {
  #songs {
    width: 60%;
    justify-content: center;
    align-items: center;

    #song-menu {
      position: absolute;
      left: 70%;
      height: 150px;
      background: #282828;
      border: 1px solid rgba(0,0,0,.15);
      min-width: 160px;
      text-align: center;
      display: flex;
      flex-direction: column;
    }

    .song {
      height: 60px;
      display: flex;
      padding: 10px 0 10px 0;
      transition-property: background-color;
      transition-duration: .2s;
      transition-timing-function: linear;
      display: -ms-flexbox;
      display: flex;
      list-style-type: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &:hover {
        background-color: rgba(0, 0, 0, .3);

        .options-block .options-menu .song-options-button {
          display: block;
        }

        .play-block .play-song {
          display: block;
        }

        .play-block .song-index {
          display: none;
        }

      }

      .play-block {
        height: 100%;
        width: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;

        .song-index {
          color: @icons-color;
          display: block;
        }

        .play-song {
          display: none;
          width: 20px;
          height: 20px;
          background: url("../icons/play-white.svg") no-repeat center;
          background-size: 14px;
          cursor: pointer;

          &:hover {
            transform: scale(1.2);
          }
        }
      }

      .name-block {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;

        .song-name {
          font-size: @song-name-size;
          color: @text-color;
          font-family: 'Main';
          cursor: default;

        }

        .artist-and-album {
          cursor: default;
          margin-top: 4px;

          .song-artist {
            font-size: @song-artist-size;
            color: @icons-color;
            font-family: 'Main';
            cursor: pointer;

            &:hover {
              .link-hover;
              color: white;
              border-bottom: 1px solid white;

            }
          }

          .separator {
            color: @icons-color;
            font-size: 13px;
            pointer-events: none;

          }

          .song-album {
            height: 20px;
            font-size: @song-artist-size;
            color: @icons-color;
            font-family: 'Main';
            cursor: pointer;

            &:hover {
              .link-hover;
              color: white;
              border-bottom: 1px solid white;

            }
          }
        }
      }

      .options-block {
        width: 100px;
        height: 100%;
        display: flex;

        .options-menu {
          width: 50px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .song-options-button {
            display: none;
            width: 30px;
            height: 30px;
            background: url("../icons/options.svg") no-repeat center;
            background-size: 20px;
            cursor: pointer;

          }
        }

        .song-duration-block {
          width: 50px;
          text-align: center;
          color: @icons-color;
        }

      }
    }
  }
}

.songs-styles;