@import "fonts.css";
* {
  box-sizing: border-box;
}
.link-hover {
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #ffffff;
}
.svg-icons-preset .svg {
  width: 16px;
  height: 16px;
}
.svg-icons-preset .svg:hover .svg-icon {
  fill: white;
}
.buttons {
  width: 20px;
  height: 20px;
  background: black;
  cursor: pointer;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
html button,
body button {
  outline: 0;
  background: none;
  border: none;
}
#main-page {
  width: 100%;
  height: 100%;
}
#main-page #header-content-section {
  height: 90%;
  background: linear-gradient(to top, #0c0e12, #7e641a);
}
#main-page #header-content-section #header-section {
  display: flex;
  justify-content: center;
  background: black;
}
#main-page #header-content-section #header-section .right {
  position: absolute;
  display: flex;
  right: 50px;
}
#main-page #header-content-section #header-section .right #search-button {
  display: flex;
}
#main-page #header-content-section #header-section .right #account-button {
  display: flex;
}
#main-page #header-content-section #header-section .right .header-text {
  color: #dce0e1;
  font-size: 18px;
  padding: 15px;
  font-family: 'Main-bold';
  cursor: pointer;
  letter-spacing: 1px;
}
#main-page #header-content-section #header-section .right .header-text:hover {
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #ffffff;
}
#main-page #header-content-section #header-section .header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 1400px;
}
#main-page #header-content-section #header-section .header-container #library-buttons {
  display: flex;
  cursor: pointer;
}
#main-page #header-content-section #header-section .header-container #library-buttons .header-text {
  color: #dce0e1;
  padding: 15px;
  font-family: 'Main-bold';
  letter-spacing: 1px;
  font-size: 18px;
}
#main-page #header-content-section #header-section .header-container #library-buttons .header-text:hover {
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #ffffff;
}
#main-page #header-content-section #content-section {
  height: 95%;
  display: flex;
  justify-content: center;
}
#main-page #header-content-section #content-section .content-container {
  padding: 0 50px;
  width: 100%;
  max-width: 1400px;
}
#main-page #header-content-section #content-section #content-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: white;
}
#main-page #header-content-section #content-section #content-header .tags {
  padding: 0;
}
#main-page #header-content-section #content-section #content-header .tags .tag {
  display: inline-block;
}
#main-page #header-content-section #content-section #content-header .tags .tag a {
  margin: 40px;
  font-family: 'Main';
  color: #dce0e1;
  font-size: 17px;
  letter-spacing: 2px;
}
#main-page #header-content-section #content-section #content-header .tags .tag a:hover {
  cursor: pointer;
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #ffffff;
}
#main-page #header-content-section #main-content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 -10px;
  flex-flow: row wrap;
}
#main-page #header-content-section #main-content .playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  padding-top: 0;
}
#main-page #header-content-section #main-content .playlist .playlist-cover {
  width: 200px;
  height: 200px;
  background: url('../LanaDelRey_BornToDie.jpg');
  background-size: 200px;
}
#main-page #header-content-section #main-content .name {
  display: inline-block;
  color: white;
  font-family: 'Main';
}
footer {
  display: flex;
  flex-direction: column;
  height: 10%;
  background: #2c2c2c;
  align-items: center;
  justify-content: center;
}
footer #player-section {
  width: 550px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer #player-section #player-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 50px;
}
footer #player-section #player-buttons #shuffle-song-button .svg {
  width: 16px;
  height: 16px;
}
footer #player-section #player-buttons #shuffle-song-button .svg:hover .svg-icon {
  fill: white;
}
footer #player-section #player-buttons #play-previous-song-button .svg {
  width: 16px;
  height: 16px;
}
footer #player-section #player-buttons #play-previous-song-button .svg:hover .svg-icon {
  fill: white;
}
footer #player-section #player-buttons #play-previous-song-button .svg {
  transform: rotate(180deg);
}
footer #player-section #player-buttons #play-song-button {
  width: 35px;
  height: 35px;
  border: 1px solid #a9a9a9;
  border-radius: 17px;
  padding: 7px 1px 4px 4px;
}
footer #player-section #player-buttons #play-song-button:hover {
  border-color: white;
  width: 36px;
  height: 36px;
}
footer #player-section #player-buttons #play-song-button:hover .svg {
  width: 16px;
  height: 16px;
}
footer #player-section #player-buttons #play-song-button:hover .svg-icon {
  fill: white;
}
footer #player-section #player-buttons #play-song-button .svg {
  width: 15px;
  height: 15px;
}
footer #player-section #player-buttons #play-next-song-button .svg {
  width: 16px;
  height: 16px;
}
footer #player-section #player-buttons #play-next-song-button .svg:hover .svg-icon {
  fill: white;
}
footer #player-section #player-buttons #repeat-song-button .svg {
  width: 16px;
  height: 16px;
}
footer #player-section #player-buttons #repeat-song-button .svg:hover .svg-icon {
  fill: white;
}
footer #player-section #progress-section {
  width: 500px;
  display: flex;
}
footer #player-section #progress-section #song-progress-bar {
  width: 400px;
  background: #a9a9a9;
}
footer #player-section #progress-section .time {
  color: white;
}
