.button-icons {
  width: 20px;
  height: 15px;
  background-size: contain;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
html button,
body button {
  outline: 0;
  background: none;
  border: none;
}
#main-page {
  width: 100%;
  height: 100%;
}
#main-page #header-content-section {
  height: 85%;
  background: linear-gradient(to top, #0c0e12, #37446a);
}
#main-page #header-content-section #header-section {
  display: flex;
  justify-content: space-between;
  height: 5%;
  background: black;
}
#main-page #header-content-section #header-section .header-text {
  color: #ffffff;
}
#main-page #header-content-section #content-section {
  height: 95%;
}
#main-page #header-content-section #content-section #content-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
#main-page #header-content-section #content-section #content-header #content-menu {
  display: flex;
  width: 400px;
  justify-content: space-between;
}
#main-page #header-content-section #content-section #main-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#main-page #header-content-section #content-section #main-content .playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main-page #header-content-section #content-section #main-content .playlist .playlist-cover {
  width: 200px;
  height: 200px;
  background: url('../LanaDelRey_BornToDie.jpg');
  background-size: 200px;
}
#main-page #header-content-section #content-section #main-content .name {
  display: inline-block;
  color: white;
}
#main-page footer {
  display: flex;
  flex-direction: column;
  height: 15%;
  background: #2c2c2c;
  align-items: center;
  justify-content: center;
}
#main-page footer #player-section {
  width: 550px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#main-page footer #player-section #player-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 15px;
}
#main-page footer #player-section #player-buttons #shuffle-song-button {
  background: url("../icons/shuffle-icon.svg") no-repeat;
  width: 20px;
  height: 15px;
  background-size: contain;
}
#main-page footer #player-section #player-buttons #previous-song-button {
  background: url("../icons/play-next-button-icon.svg") no-repeat;
  width: 20px;
  height: 15px;
  background-size: contain;
}
#main-page footer #player-section #player-buttons #play-song-button {
  border: 1px solid white;
  border-radius: 35px;
}
#main-page footer #player-section #player-buttons #play-song-button:before {
  font-size: 25px;
  content: "\25B6";
}
#main-page footer #player-section #player-buttons #play-song-button:hover {
  color: white;
}
#main-page footer #player-section #player-buttons #next-song-button {
  background: url("../icons/play-next-button-icon.svg") no-repeat;
  width: 20px;
  height: 15px;
  background-size: contain;
}
#main-page footer #player-section #player-buttons #repeat-song-button {
  background: url("../icons/repeat-icon.svg") no-repeat;
  width: 20px;
  height: 15px;
  background-size: contain;
}
#main-page footer #player-section #progress-section {
  width: 100%;
  display: flex;
}
