@import "variables";

.button-icons {
  width: 20px;
  height: 15px;
  background-size: contain;

}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;

  button {
    outline: 0;
    background: none;
    border: none;
  }
}

#main-page {
  width: 100%;
  height: 100%;

  #header-content-section {
    height: 85%;
    background: linear-gradient(to top, rgb(12, 14, 18), rgb(55, 68, 106));

    #header-section {
      display: flex;
      justify-content: space-between;
      height: 10%;

      .header-text {
        color: @text-color;
      }
    }

    #content-section {
      height: 75%;
    }

  }

  footer {
    display: flex;
    flex-direction: column;
    height: 15%;
    background: @grey-color;
    align-items: center;
    justify-content: center;

    #player-section {
      width: 550px;
      display: flex;
      align-items: center;
      flex-direction: column;

      #player-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 300px;
        margin-bottom: 15px;

        #shuffle-song-button {
          background: url("../icons/shuffle-icon.svg") no-repeat;
          .button-icons;
        }

        #previous-song-button {
          background: url("../icons/play-next-button-icon.svg") no-repeat;
          .button-icons;
        }

        #play-song-button {
          border: 1px solid white;
          border-radius: 35px;

          &:before {
            font-size: 25px;
            content: "\25B6";

          }
          &:hover {
            color: white;
          }

        }

        #next-song-button {
          background: url("../icons/play-next-button-icon.svg") no-repeat;
          .button-icons;
        }

        #repeat-song-button {
          background: url("../icons/repeat-icon.svg") no-repeat;
          .button-icons;
        }
      }

      #progress-section {
        width: 100%;
        display: flex;
      }
    }
  }
}
