@import "variables";
@import "animations/animations";
@import "songs";

#album-content {
  width: 100%;
  height: 100%;
  padding: 0px 250px 0 250px;
  display: flex;

  #album-info {
    font-family: 'Main';
    max-width: 400px;
    padding: 80px 40px 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .album-cover {
      min-width: 320px;
      min-height: 320px;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .album-title {
      color: @text-color;
      font-size: 28px;
      margin: 12px 0 4px;
      text-decoration: none;
      display: inline-block;

    }

    .album-artist {
      color: @icons-color;
      margin: 1px 0 10px 0;
      text-decoration: none;

      &:hover {
        .link-hover;
        color: white;
        //border-bottom: 1px solid white;
      }
    }

    .date-and-songs {
      width: 100%;
      cursor: text;

      .album-date {
        font-size: 15px;
        color: #a9a9a9;
      }

      .album-separator {
        color: @icons-color;
        font-size: 13px;
        pointer-events: none;

      }

      .album-songs-number {
        font-size: 15px;
        color: #a9a9a9;
      }
    }

    #play-album-button {
      color: white;
      width: 120px;
      height: 40px;
      font-size: 12px;
      font-weight: 200;
      text-transform: uppercase;
      letter-spacing: .16em;
      transition: none 33ms cubic-bezier(.3,0,.7,1);
      transition-property: all;
      margin-top: 16px;
      text-align: center;;
      border-radius: 500px;
      padding: 13px;;
      background: #1ed760;
      cursor: pointer;

      &:hover {
        transform: scale(1.06);
        transition: all 33ms cubic-bezier(0.3, 0, 0, 1);
      }
    }

    #save-album-button {
      color: white;
      width: 120px;
      height: 40px;
      font-size: 12px;
      font-weight: 200;
      text-transform: uppercase;
      letter-spacing: .16em;
      transition: none 33ms cubic-bezier(.3,0,.7,1);
      transition-property: all;
      margin-top: 16px;
      text-align: center;;
      border-radius: 500px;
      padding: 13px;
      cursor: pointer;

      &:hover {
        transform: scale(1.06);
        transition: all 33ms cubic-bezier(0.3, 0, 0, 1);
      }
    }

  }

  .songs-styles;

  #songs {
    width: 100%;
    padding-top: 27px;
  }
}