@import "variables";
@import "fonts";
@import "animations/animations";
@import "search";
@import "playlists";
@import "footer";
@import "header";
@import "albums";
@import "songs";
@import "genres&moods";
@import "artists";
@import "album-content";
@import "playlist-content";
@import "artist-content";
@import "create-playlist-dialog";
@import "add-song-to-playlist";
@import "spinner";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;

  button {
    outline: 0;
    background: none;
    border: none;
  }
}

* {
  box-sizing: border-box;
}

.button-icons {

}

#main-page {
  width: 100%;
  height: 100%;
  font-family: 'Main';
  position: absolute;

  ::-webkit-scrollbar {
    display: none;
  }

  #content-section {
    height: @content-height;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, rgb(126, 100, 26), rgb(12, 14, 18));
    overflow: auto;
    top: @header-height;
    position: relative;

    #content-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 5%;
      color: white;
      padding: 0 50px;
      margin: 10px 0 25px 0;
      width: 100%;

      .tags {
        padding: 0;
        display: flex;

        .tag {
          display: inline-block;

          a {
            margin: 40px;
            font-family: 'Main';
            color: #dce0e1;
            font-size: 17px;
            letter-spacing: 2px;
            text-decoration: none;

            &:hover {
              cursor: pointer;
              .link-hover
            }
          }
        }
      }

      .new-playlist-block {
        position: absolute;
        right: 50px;

        #create-playlist-button {
          font-size: 11px;
          font-weight: 200;
          text-transform: uppercase;
          letter-spacing: .16em;
          transition: none 33ms cubic-bezier(.3, 0, .7, 1);
          transition-property: all;
          color: @button-text-color;
          margin-top: 16px;
          display: inline-block;
          margin-bottom: 0;
          text-align: center;
          border-radius: 500px;
          padding: 13px;
          min-width: 130px;
          white-space: normal;
          will-change: transform;
          line-height: 1.6;
          background-color: @main-second-color;
          cursor: pointer;

          &:hover {
            transition: none 33ms cubic-bezier(.3, 0, 0, 1);
            transition-property: all;
            transform: scale(1.06);
          }

        }
      }
    }

    #main-content {
      display: flex;
      flex-direction: column;
      flex-flow: row wrap;
      justify-content: center;
      height: 95%;
      padding: 0 100px;
      position: relative;

    }

  }

  #content-section.playlists {
    background: linear-gradient(to top, rgb(10, 11, 15), rgb(12, 11, 15));

    //#content-header {
    //
    //  .tags {
    //    padding: 0;
    //
    //    .playlists {
    //      a {
    //        &::after {
    //          content: "";
    //          height: 2px;
    //          background-color: @main-second-color;
    //          width: 30px;
    //          position: relative;
    //          top: 4px;
    //          display: block;
    //          margin: 0 auto;
    //        }
    //      }
    //    }
    //  }
    //}
  }

  #content-section.new {
    background: linear-gradient(to top, rgb(17, 25, 24), rgb(6, 9, 9));
  }
  #content-section.albums {
    background: linear-gradient(to top, rgb(17, 25, 24), rgb(6, 9, 9));

    #content-header {

      .tags {

        .albums  {
          a {
            &::after {
              content: "";
              height: 2px;
              background-color: @main-second-color;
              width: 30px;
              position: relative;
              top: 4px;
              display: block;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
  #content-section.artists {
    background: linear-gradient(to top, rgb(8, 12, 16), rgb(5, 7, 10));
  }
  #content-section.popular {
    background: linear-gradient(to top, rgb(39, 37, 39), rgb(8, 7, 8));
  }
  #content-section.genres {
    background: linear-gradient(to top, rgb(39, 37, 39), rgb(8, 7, 8));
  }
  #content-section.for-you {
    background: linear-gradient(to top, rgb(56, 79, 95), rgb(7, 9, 10));
  }
  #content-section.songs {
    background: linear-gradient(to top, rgb(32, 58, 98), rgb(4, 6, 2));
  }
}





