@import "variables";
@import "fonts";
@import "animations/animations";
@import "search";
@import "playlists";
@import "footer";
@import "header";
@import "albums";
@import "songs";
@import "genres&moods";
@import "artists";
@import "album-content";
@import "playlist-content";
@import "artist-content";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;

  button {
    outline: 0;
    background: none;
    border: none;
  }
}

* {
  box-sizing: border-box;
}

.button-icons {

}

#main-page {
  width: 100%;
  height: 100%;
  position: absolute;

  ::-webkit-scrollbar {
    display: none;
  }

  #content-section {
    height: @content-height;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, rgb(126, 100, 26), rgb(12, 14, 18));
    overflow: auto;
    top: @header-height;
    position: relative;

    #content-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 5%;
      color: white;
      padding: 0 50px;
      margin: 10px 0 25px 0;
      width: 100%;

      .tags {
        padding: 0;

        .tag {
          display: inline-block;

          a {
            margin: 40px;
            font-family: 'Main';
            color: #dce0e1;
            font-size: 17px;
            letter-spacing: 2px;
            text-decoration: none;

            &:hover {
              cursor: pointer;
              .link-hover
            }

          }

        }
      }

      .new-playlist-block {
        position: absolute;
        right: 50px;

        #create-playlist-button {
          font-size: 11px;
          font-weight: 200;
          text-transform: uppercase;
          letter-spacing: .16em;
          transition: none 33ms cubic-bezier(.3, 0, .7, 1);
          transition-property: all;
          color: #fff;
          margin-top: 16px;
          display: inline-block;
          margin-bottom: 0;
          text-align: center;
          border: 0;
          border-radius: 500px;
          padding: 13px;
          min-width: 130px;
          white-space: normal;
          will-change: transform;
          line-height: 1.6;
          background-color: #1ed760;

          &:hover {
            transition: none 33ms cubic-bezier(.3, 0, 0, 1);
            transition-property: all;
            transform: scale(1.06);
          }

        }
      }
    }

    #main-content {
      display: flex;
      flex-direction: column;
      flex-flow: row wrap;
      justify-content: center;
      height: 95%;
      padding: 0 100px;
      position: relative;

    }

  }
}





