@import "variables";

#player-controls {
  display: flex;
  height: @footer-height;
  background: @player-color;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 7;

  #player-section {
    width: 650px;
    display: flex;
    align-items: center;
    flex-direction: column;

    #player-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 250px;
      height: 50px;

      #shuffle-song-button {
        width: 20px;
        height: 20px;
        background: url("../icons/shuffle.svg") no-repeat;
        background-size: 15px;

        &:hover {
          transform: scale(1.1);
          background: url("../icons/shuffle-white.svg") no-repeat;
          background-size: 15px;
        }

        &.active {
          background: url("../icons/shuffle-yellow.svg") no-repeat;
          background-size: 15px;
        }
      }

      #play-previous-song-button {
        transform: rotate(180deg);
        width: 20px;
        height: 20px;
        background: url("../icons/next.svg") no-repeat bottom;
        background-size: 15px;

        &:hover {
          transform: scale(1.1) rotate(180deg);
          background: url("../icons/next-white.svg") no-repeat center;
          background-size: 15px;
          margin-bottom: 3px;
        }
      }

      #play-song-button {
        width: 35px;
        height: 35px;
        background: url("../icons/play.svg") no-repeat;
        background-size: 20px;
        background-position-x: 8px;
        background-position-y: 6px;
        border: 1px solid @icons-color;
        border-radius: 18px;
        margin-bottom: 6px;

        &:hover {
          transform: scale(1.1);
          background: url("../icons/play-white.svg") no-repeat;
          background-size: 20px;

          background-position-x: 8px;
          background-position-y: 6px;
          border-color: white;
        }

        &.active {
          background: url("../icons/pause-button.svg") no-repeat;
          background-size: 20px;
          background-position-x: 6px;
          background-position-y: 6px;

          &:hover {
            transform: scale(1.1);
            background: url("../icons/pause-button-white.svg") no-repeat;
            background-size: 20px;
            background-position-x: 6px;
            background-position-y: 6px;
            border-color: white;
          }

        }
      }

      #play-next-song-button {
        width: 20px;
        height: 20px;
        background: url("../icons/next.svg") no-repeat;
        background-size: 15px;

        &:hover {
          transform: scale(1.1);
          background: url("../icons/next-white.svg") no-repeat;
          background-size: 15px;

        }
      }

      #repeat-song-button {
        width: 20px;
        height: 20px;
        background: url("../icons/repeat.svg") no-repeat;
        background-size: 15px;

        &:hover {
          transform: scale(1.1);
          background: url("../icons/repeat-white.svg") no-repeat;
          background-size: 15px;
        }

        &.active {
          background: url("../icons/repeat-yellow.svg") no-repeat;
          background-size: 15px;
        }
      }
    }

    #progress-section {
      width: 100%;
      display: flex;

      #song-progress-bar {
        width: 800px;
        background: @icons-color;
        -webkit-appearance: none;
        outline: none;
        background: transparent;
        border-color: transparent;
        color: transparent;

        &::-webkit-slider-runnable-track {
          width: 100%;
          height: 4px;
          background: #424242;
          border-radius: 9px;

        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          height: 10px;
          width: 10px;
          border-radius: 10px;
          background: white;
          margin-top: -3px;
        }
      }

      .time {
        color: #a7a7a7;
        font-size: 14px;
      }

      #current-song-time {
      min-width: 40px;
        text-align: center;
      }

      #song-duration {
        min-width: 40px;
        text-align: center;
      }
    }
  }

  #volume-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

    #volume-button {
      width: 32px;
      min-width: 32px;
      height: 32px;
      background: url("../icons/volume.svg") no-repeat center;
      background-size: 20px;

      &:hover {
        background: url("../icons/volume-white.svg") no-repeat center;
        background-size: 20px;
      }

      &.active {
        background: url("../icons/mute.png") no-repeat center;
        background-size: 20px;

        &:hover {
          background: url("../icons/mute-white.png") no-repeat center;
          background-size: 20px;
      }
      }
    }

    #volume-bar {
      -webkit-appearance: none;
      outline: none;
      background: transparent;
      border-color: transparent;
      color: transparent;


      &::-webkit-slider-runnable-track {
        width: 100%;
        height: 4px;
        background: #424242;
        border-radius: 9px;

      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 10px;
        width: 10px;
        border-radius: 10px;
        background: white;
        margin-top: -3px;
      }
    }
  }
}