.link-hover {
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #ffffff;
}
.play-song-button-hover {
  transition: all 0.2s ease-in-out;
}
.songs-styles #songs {
  width: 60%;
  justify-content: center;
  align-items: center;
}
.songs-styles #songs #song-menu {
  position: absolute;
  left: 70%;
  height: 116px;
  background: #282828;
  border: 1px solid rgba(0, 0, 0, 0.15);
  min-width: 160px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.songs-styles #songs #song-menu .menu-list {
  width: 100%;
  padding: 3px 20px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.5);
}
.songs-styles #songs #song-menu .menu-list:hover {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.songs-styles #songs .song {
  height: 60px;
  padding: 10px 0 10px 0;
  transition-property: background-color;
  transition-duration: .2s;
  transition-timing-function: linear;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.songs-styles #songs .song:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.songs-styles #songs .song:hover .options-block .options-menu .song-options-button {
  display: block;
}
.songs-styles #songs .song:hover .play-block .play-song {
  display: block;
}
.songs-styles #songs .song:hover .play-block .song-index {
  display: none;
}
.songs-styles #songs .song .play-block {
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.songs-styles #songs .song .play-block .song-index {
  color: #a9a9a9;
  display: block;
}
.songs-styles #songs .song .play-block .play-song {
  display: none;
  width: 20px;
  height: 20px;
  background: url("../icons/play-white.svg") no-repeat center;
  background-size: 14px;
  cursor: pointer;
}
.songs-styles #songs .song .play-block .play-song:hover {
  transform: scale(1.2);
}
.songs-styles #songs .song .name-block {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.songs-styles #songs .song .name-block .song-name {
  font-size: 15px;
  color: #ffffff;
  font-family: 'Main';
  cursor: default;
}
.songs-styles #songs .song .name-block .artist-and-album {
  cursor: default;
  margin-top: 4px;
}
.songs-styles #songs .song .name-block .artist-and-album .song-artist {
  font-size: 15px;
  color: #a9a9a9;
  font-family: 'Main';
  cursor: pointer;
}
.songs-styles #songs .song .name-block .artist-and-album .song-artist:hover {
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #ffffff;
  color: white;
  border-bottom: 1px solid white;
}
.songs-styles #songs .song .name-block .artist-and-album .separator {
  color: #a9a9a9;
  font-size: 13px;
  pointer-events: none;
}
.songs-styles #songs .song .name-block .artist-and-album .song-album {
  height: 20px;
  font-size: 15px;
  color: #a9a9a9;
  font-family: 'Main';
  cursor: pointer;
}
.songs-styles #songs .song .name-block .artist-and-album .song-album:hover {
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #ffffff;
  color: white;
  border-bottom: 1px solid white;
}
.songs-styles #songs .song .options-block {
  width: 100px;
  height: 100%;
  display: flex;
}
.songs-styles #songs .song .options-block .options-menu {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.songs-styles #songs .song .options-block .options-menu .song-options-button {
  display: none;
  width: 30px;
  height: 30px;
  background: url("../icons/options.svg") no-repeat center;
  background-size: 20px;
  cursor: pointer;
}
.songs-styles #songs .song .options-block .song-duration-block {
  width: 50px;
  text-align: center;
  color: #a9a9a9;
}
#songs {
  width: 60%;
  justify-content: center;
  align-items: center;
}
#songs #song-menu {
  position: absolute;
  left: 70%;
  height: 116px;
  background: #282828;
  border: 1px solid rgba(0, 0, 0, 0.15);
  min-width: 160px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
#songs #song-menu .menu-list {
  width: 100%;
  padding: 3px 20px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.5);
}
#songs #song-menu .menu-list:hover {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
#songs .song {
  height: 60px;
  padding: 10px 0 10px 0;
  transition-property: background-color;
  transition-duration: .2s;
  transition-timing-function: linear;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#songs .song:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
#songs .song:hover .options-block .options-menu .song-options-button {
  display: block;
}
#songs .song:hover .play-block .play-song {
  display: block;
}
#songs .song:hover .play-block .song-index {
  display: none;
}
#songs .song .play-block {
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#songs .song .play-block .song-index {
  color: #a9a9a9;
  display: block;
}
#songs .song .play-block .play-song {
  display: none;
  width: 20px;
  height: 20px;
  background: url("../icons/play-white.svg") no-repeat center;
  background-size: 14px;
  cursor: pointer;
}
#songs .song .play-block .play-song:hover {
  transform: scale(1.2);
}
#songs .song .name-block {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#songs .song .name-block .song-name {
  font-size: 15px;
  color: #ffffff;
  font-family: 'Main';
  cursor: default;
}
#songs .song .name-block .artist-and-album {
  cursor: default;
  margin-top: 4px;
}
#songs .song .name-block .artist-and-album .song-artist {
  font-size: 15px;
  color: #a9a9a9;
  font-family: 'Main';
  cursor: pointer;
}
#songs .song .name-block .artist-and-album .song-artist:hover {
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #ffffff;
  color: white;
  border-bottom: 1px solid white;
}
#songs .song .name-block .artist-and-album .separator {
  color: #a9a9a9;
  font-size: 13px;
  pointer-events: none;
}
#songs .song .name-block .artist-and-album .song-album {
  height: 20px;
  font-size: 15px;
  color: #a9a9a9;
  font-family: 'Main';
  cursor: pointer;
}
#songs .song .name-block .artist-and-album .song-album:hover {
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #ffffff;
  color: white;
  border-bottom: 1px solid white;
}
#songs .song .options-block {
  width: 100px;
  height: 100%;
  display: flex;
}
#songs .song .options-block .options-menu {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#songs .song .options-block .options-menu .song-options-button {
  display: none;
  width: 30px;
  height: 30px;
  background: url("../icons/options.svg") no-repeat center;
  background-size: 20px;
  cursor: pointer;
}
#songs .song .options-block .song-duration-block {
  width: 50px;
  text-align: center;
  color: #a9a9a9;
}
