@import "variables";
@import "animations/animations";
@import "search";
@import "playlists";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;

  button {
    outline: 0;
    background: none;
    border: none;
  }
}

* {
  box-sizing: border-box;
}

.button-icons {

}

#main-page {
  width: 100%;
  height: 100%;
  position: absolute;

  #header-section {
    display: flex;
    justify-content: center;
    background: black;
    height: 5%;

    .right {
      position: absolute;
      display: flex;
      right: 50px;

      #search-button {
        display: flex;
      }

      #account-button {
        display: flex;
      }

      .header-text {
        color: #dce0e1;
        font-size: 18px;
        padding: 15px;
        font-family: 'Main-bold';
        cursor: pointer;
        letter-spacing: 1px;
        text-decoration: none;

        &:hover {
          .link-hover;
        }
      }
    }

    .header-container {
      width: 100%;
      display: flex;
      justify-content: center;
      max-width: @max-content-width;

      #library-buttons {
        display: flex;
        cursor: pointer;

        .header-text {
          color: #dce0e1;
          padding: 15px;
          font-family: 'Main-bold';
          cursor: pointer;
          letter-spacing: 1px;
          font-size: 18px;
          text-decoration: none;

          &:hover {
            .link-hover;
          }
        }
      }
    }
  }

  #content-section {
    height: @content-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to top, rgb(126, 100, 26), rgb(12, 14, 18));


    #content-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 5%;
      color: white;
      padding: 0 50px;
      margin: 10px 0 25px 0;
      width: 100%;

      .tags {
        padding: 0;

        .tag {
          display: inline-block;

          a {
            margin: 40px;
            font-family: 'Main';
            color: #dce0e1;
            font-size: 17px;
            letter-spacing: 2px;
            text-decoration: none;

            &:hover {
              cursor: pointer;
              .link-hover
            }

          }

        }
      }
    }

    #main-content {
      display: flex;
      flex-direction: column;
      flex-flow: row wrap;
      justify-content: center;
      height: 95%;
      padding: 0 100px;

    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  height: @footer-height;
  background: @player-color;
  align-items: center;
  justify-content: center;

  #player-section {
    width: 650px;
    display: flex;
    align-items: center;
    flex-direction: column;

    #player-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 250px;
      height: 50px;

      #shuffle-song-button {
        width: 20px;
        height: 20px;
        background: url("../assets/icons/shuffle.svg");
        background-size: 15px;
        background-repeat: no-repeat;

        &:hover {
          transform: scale(1.1);
          background: url("../assets/icons/shuffle-white.svg") ;
          background-size: 15px;
          background-repeat: no-repeat;
        }
      }

      #play-previous-song-button {
        transform: rotate(180deg);
        width: 20px;
        height: 20px;
        background: url("../assets/icons/next.svg");
        background-size: 15px;
        background-repeat: no-repeat;
        background-position: bottom;

        &:hover {
          transform: scale(1.1) rotate(180deg);
          background: url("../assets/icons/next-white.svg") ;
          background-size: 15px;
          background-repeat: no-repeat;
          background-position: center;
          margin-bottom: 3px;
        }
      }

      #play-song-button {
        width: 35px;
        height: 35px;
        background: url("../assets/icons/play.svg");
        background-size: 20px;
        background-repeat: no-repeat;
        background-position-x: 8px;
        background-position-y: 6px;
        border: 1px solid @icons-color;
        border-radius: 18px;
        margin-bottom: 6px;

        &:hover {
          transform: scale(1.1);
          background: url("../assets/icons/play-white.svg") ;
          background-size: 20px;
          background-repeat: no-repeat;
          background-position-x: 8px;
          background-position-y: 6px;
          border-color: white;
        }


        &.active {
          background: url("../assets/icons/pause-button.svg");
          background-size: 20px;
          background-repeat: no-repeat;
          background-position-x: 6px;
          background-position-y: 6px;

          &:hover {
            transform: scale(1.1);
            background: url("../assets/icons/pause-button-white.svg") ;
            background-size: 20px;
            background-repeat: no-repeat;
            background-position-x: 6px;
            background-position-y: 6px;
            border-color: white;
          }


        }
      }

      #play-next-song-button {
        width: 20px;
        height: 20px;
        background: url("../assets/icons/next.svg");
        background-size: 15px;
        background-repeat: no-repeat;

        &:hover {
          transform: scale(1.1);
          background: url("../assets/icons/next-white.svg") ;
          background-size: 15px;
          background-repeat: no-repeat;
        }
      }

      #repeat-song-button {
        width: 20px;
        height: 20px;
        background: url("../assets/icons/repeat.svg");
        background-size: 15px;
        background-repeat: no-repeat;

        &:hover {
          transform: scale(1.1);
          background: url("../assets/icons/repeat-white.svg") ;
          background-size: 15px;
          background-repeat: no-repeat;
        }

      }
    }

    #progress-section {
      width: 100%;
      display: flex;

      #song-progress-bar {
        width: 800px;
        background: @icons-color;
        -webkit-appearance: none;
        outline: none;
        background: transparent;
        border-color: transparent;
        color: transparent;

        &::-webkit-slider-runnable-track {
          width: 100%;
          height: 4px;
          background: #424242;
          border-radius: 9px;

        }

        &::-webkit-slider-thumb {
          visibility: hidden;
          -webkit-appearance: none;
          height: 10px;
          width: 10px;
          border-radius: 10px;
          background: white;
          margin-top: -3px;
        }

        &:hover {
          &::-webkit-slider-thumb {
            visibility: visible;
          }
        }
      }

      .time {
        color: #a7a7a7;
        font-size: 14px;
      }

      #current-song-time {

      }

      #song-duration {

      }
    }
  }

}
