@header-text-color: #dce0e1;
@text-color: rgb(255, 255, 255);
@player-color: rgb(44, 44, 44);
@icons-color: #a9a9a9;
@max-content-width: 1400px;
@header-height: 5%;
@content-height: 85%;
@footer-height: 10%;
@song-name-size: 15px;
@song-artist-size: 15px;
@main-second-color: rgb(255, 221, 62);
@button-text-color: black;
